.venv/
__pycache__
.mypy_cache
.pytest_cache
.DS_Store
.ruff_cache/ 
database.db
.db
.claude
*.env*
food-recipe-recommender/app/.env
food-recipe-recommender/app/.env
data
htmlcov/
.coverage
coverage.xml
food-recipe-recommender/app/.coverage
food-recipe-recommender/models/*.joblib
food-recipe-recommender/data-pipeline/enriched_ingredients.db
